.chat-holster {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.buffer {
  display: flex;
  flex-direction: column;
}

.chat-line-item {
  position: relative;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  min-height: 30px;

  span:not(.author) {
    color: #fefefe;
  }

  .badges {
    height: 20px;

    img {
      height: 20px;
      width: auto;
      transform: translateY(3px);
    }
  }
}
