.chat {
  position: absolute;
  bottom: 320px;
  left: 20px;
  height: 215px;
  width: 400px;
}

.alerts {
  position: absolute;
  width: 1000px;
  height: 215px;
  bottom: 0;
  right: 0;
}

.redemptions {
  position: absolute;
  height: 600px;
  width: 800px;
  left: calc(50% - 400px);
  bottom: calc(50% - 300px);
}
