.alert-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.claudio {
  position: absolute;
  top: 40px;
  right: -500px;
  transition: all 1s ease-in;
}

.claudio.in {
  position: absolute;
  top: -50px;
  right: -400px;
  transform: rotate(-25deg);
}

.alert-content {
  position: absolute;
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 820px;
  left: 0;
  top: 0;
  opacity: 1;

  p {
    margin: 0;
  }
}

.alert-text {
  color: #bae4fd;
  font-size: 40px;
}

.message {
  color: #fefefe;
  font-size: 26px;
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
