.alert-container {
  position: relative;
  overflow: visible;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

  p {
    margin: 0;
    max-width: 100%;
    overflow-wrap: anywhere;
  }
}

.alert-text {
  color: #bae4fd;
  font-size: 40px;
  font-weight: bold;
}

.message {
  color: #fefefe;
  font-size: 26px;
  font-weight: bold;
}